@model List<TaskManagementSystemMITT.Models.ProjectTask>

@{
    ViewBag.Title = "GetAllTasksForProject";
}

<h2>Viewing all tasks for project @ViewBag.Project.Name</h2>
@Html.ActionLink("Back to Dashboard", "Index", "Manage")

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 5px;
        text-align: left;
    }

    .floatleft {
        width: 50%;
        float: left;
    }

    .floatright {
        width: 50%;
        float: right;
    }

    .container {
        overflow: hidden;
        
    }
</style>



    <div class="container">
        <div class="floatleft">
            <h5>Working</h5>
            @foreach (var task in Model)
            {
                if (!task.IsCompleted)
                {
                    <table style="width: 25%;border:groove; border-width: thin; ">
                        <tr>
                            <th>Task</th>
                        </tr>
                        <tr>
                            <td>@task.Description</td>
                        </tr>
                        <tr>
                            <td>
                                @(task.PercentCompleted < 100 ? @Html.ActionLink("Update Progress ", "UpdateProgress", "TaskHelper", new { Id = task.Id }, null) :
@Html.ActionLink("Move to Completed", "MarkCompleted", "TaskHelper", new { Id = task.Id }, null))
                            </td>
                        </tr>

                    </table>
                    <br />
                }
            }
        </div>
        <div class="floatright">
            <h5>Completed</h5>

            @foreach (var task in Model)
            {
                if (task.IsCompleted)
                {
                    <table style="width: 25%;border:groove; border-width: thin; ">

                        <tr>
                            <th>Task</th>
                        </tr>
                        <tr>
                            <td>@task.Description</td>
                        </tr>
                        <tr>
                            <td>
                                @(task.Comment == null ? @Html.ActionLink("Add a Comment", "AddComment", "TaskHelper", new { Id = task.Id }, null) :
        @Html.ActionLink("View Comments", "ViewComment", "TaskHelper", new { Id = task.Id }, null))
                            </td>
                        </tr>
                    </table>
                    <br />


                }
            }
        </div>
    </div>






