@model TaskManagementSystemMITT.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>

<div>Projects:</div>
<p>
    @Html.ActionLink("Create New", "Create", "Projects")
</p>
<table class="table">
    <tr>
        <th>
            Project Name:
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Projects)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Projects", new { id = item.Id }, null) |
                @Html.ActionLink("Details", "Details", "Projects", new { id = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "Projects", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>
