@model TaskManagementSystemMITT.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 5px;
        text-align: left;
    }

    .floatleft {
        width: 50%;
        float: left;
    }

    .floatright {
        width: 50%;
        float: right;
    }

    .container {
        overflow: hidden;
    }
</style>

@if (Model.Projects == null)
{
    <h3>Developer Dashboard for @ViewBag.User.UserName</h3>

    <h4>Tasks:</h4>

    <div class="container">
        <div class="floatleft">
            <h5>Working</h5>
            @foreach (var task in Model.Tasks)
            {
                if (!task.IsCompleted)
                {
                    <table style="width: 25%;border:groove; border-width: thin; ">
                        <tr>
                            <th>Task</th>
                        </tr>
                        <tr>
                            <td>@task.Description</td>
                        </tr>
                        <tr>
                            <td>
                                @(task.PercentCompleted < 100 ? @Html.ActionLink("Update Progress ", "UpdateProgress", "TaskHelper", new { Id = task.Id }, null) :
@Html.ActionLink("Move to Completed", "MarkCompleted", "TaskHelper", new { Id = task.Id }, null))
                            </td>
                        </tr>

                    </table>
                    <br />
                }
            }
        </div>
        <div class="floatright">
            <h5>Completed</h5>

            @foreach (var task in Model.Tasks)
            {
                if (task.IsCompleted)
                {
                    <table style="width: 25%;border:groove; border-width: thin; ">

                        <tr>
                            <th>Task</th>
                        </tr>
                        <tr>
                            <td>@task.Description</td>
                        </tr>
                        <tr>
                            <td>
                                @(task.Comment == null ? @Html.ActionLink("Add a Comment", "AddComment", "TaskHelper", new { Id = task.Id }, null) :
        @Html.ActionLink("View Comments", "ViewComment", "TaskHelper", new { Id = task.Id }, null))
                            </td>
                        </tr>
                    </table>
                    <br />


                }
            }
        </div>
    </div>
}

else
{
<h3> Project Manager Dashboard for @ViewBag.User.UserName</h3>
    @Html.ActionLink("Create a New Project", "Create", "Projects")


    foreach (var project in Model.Projects)
    {
        <table style="width: 55%;border:groove; border-width: thin; ">
            <tr>
                <th>Project: @project.Name <span style="float:right">@Html.ActionLink("Delete Project", "Delete", "Projects", new { Id = project.Id, }, null)</span></th>
            </tr>
            <tr>
                <td>@project.Description</td>
            </tr>
            <tr>
                <td>Due Date: @project.DueDate.ToString()</td>
            </tr>
            <tr>
                <td>
                    Tasks remaining: @project.ProjectTasks.Count() | &nbsp; @Html.ActionLink("View Tasks", "Index", "Task", new { Id = project.Id, }, null)
                </td>
            </tr>

        </table>
        <br />
    }



}
